/* Normalization styles ===================================================== */

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-stack);
  --font-stack: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  --page-first-row-height: 60px;
  --sidebar-width: 250px;
  --sidebar-pad-size: 15px;
  --main-content-gap-size: 15px;
  --main-content-pad-size: 15px;
  --project-card-footer-height: 28px;
}

a:any-link {
  color: initial;
  text-decoration: none;
}

/* Grid layout for the page ================================================= */
html {
  height: 100vh;
}
body {
  display: grid;
  grid-template-columns: var(--sidebar-width) 5fr;
  grid-template-rows: min-content 1fr;
}

/* SIDEBAR ================================================================== */
.sidebar {
  grid-row: 1 / 3;
  grid-column: 1;

  display: grid;
  grid-template-rows: repeat(3, min-content);
  gap: 50px;

  position: fixed;
  height: 100vh;
  width: var(--sidebar-width);
  padding: var(--sidebar-pad-size);
}

.sidebar a {
  display: grid;
  grid-template-columns: 30px 1fr;
  gap: 10px;
  align-items: center; 

  height: 100%;
}

.sidebar img {
  height: 75%;
}

.sidebar-header {
  height: var(--page-first-row-height);
}

.sidebar-header a {
  grid-template-columns: 45px 1fr;
  gap: 15px;
}

.sidebar-navigations li {
  height: 40px;
  padding-left: 6px;
  list-style-type: none;
}

/* HEADER =================================================================== */

.header { 
  grid-row: 1;
  grid-column: 2;
  padding: 15px;
}

.header-first-row,
.header-second-row  {
  display: grid;
  padding: 0 25px;
}

.header-first-row {
  height: var(--page-first-row-height);
  grid-template-rows: var(--page-first-row-height);
  grid-template-columns: 3fr 2fr;
}

.header-widgets-1 {
  display: grid;
  align-items: center;
}

label[for="header-search"] > img {
  vertical-align: middle;
  height: 30px;
}

input[type="search"] {
  margin-left: 25px;
  width: 400px;
  height: 40px;
  padding: 0 20px;
  font-size: 1.25rem;
  border-radius: 20px;
}

.header-widgets-2 {
  display: grid;
  grid-template-columns: 1fr 40px 1fr;
  align-items: center;
  gap: 15px;
}

.notif-icon {
  height: 30px;
  justify-self: end;
}

.pfp-icon {
  height: 40px;
  justify-self: center;
}

.user-name {
  justify-self: start;
}

.header-second-row {
  height: calc(1.25 * var(--page-first-row-height));
  grid-template-rows: calc(1.25 * var(--page-first-row-height));
  grid-template-columns: 2fr 1fr;
  align-items: center;
}

.header-widgets-3 {
  display: grid;
  grid-template-columns: 60px 1fr;
  align-items: inherit;
  gap: 15px;
  height: 100%;
}

.greeting::first-line {
  font-size: 0.8rem;
}

.header-widgets-3 .pfp-icon {
  height: 60px;
  vertical-align: middle;
}

.header-widgets-4 {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: inherit;
  justify-items: center;
}

.header-widgets-4 button {
  height: 36px;
  width: 90px;
  border-radius: 18px;
}

/* MAIN CONTENT ============================================================= */

.main-content {
  grid-row: 2; 
  grid-column: 2;

  display: grid;
  grid-template-rows: 28px 1fr 28px 1fr; 
  grid-template-columns: 4fr 1fr;
  grid-template-areas: 
    "projects-header  announcements-header" 
    "project-cards    announcements" 
    "project-cards    trending-header" 
    "project-cards    trending";

  padding: var(--main-content-pad-size);
  gap: var(--main-content-gap-size);
}

.projects-header {
  grid-area: projects-header;
}

.project-cards {
  grid-area: project-cards;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 20px;
}

.project-card {
  display: grid;
  grid-template-rows: 1fr var(--project-card-footer-height);

  padding: var(--main-content-pad-size);
  /* TODO: set a height on these - to see why, zoom out */
}

.project-card-footer {
  justify-self: end;

  display: grid;
  grid-template-rows: var(--project-card-footer-height);
  grid-template-columns: repeat(3, var(--project-card-footer-height));
  gap: var(--main-content-gap-size);
}

.project-card-footer > img {
  height: 100%
}

.announcements-header {
  grid-area: announcements-header;
}

.announcements {
  grid-area: announcements;
  padding: var(--main-content-pad-size);
} 

.trending-header {
  grid-area: trending-header;
}

.trending {
  grid-area: trending;

  /* Decide to use flex to respect the potentially dynamic amount of content 
  in Trending */
  display: flex; 
  flex-direction: column;
  gap: var(--main-content-gap-size);
  padding: var(--main-content-gap-size);
}

.trending-item {
  display: grid;
  grid-template-columns: 45px 1fr;
}

.trending-item > img {
  border-radius: 50%;
}

/* For testing ============================================================== */

body > div {
  border: 1px solid black;
}

.announcements,
.trending {
  border: 1px solid blue;
}

.project-card { 
  border: 1px solid orange;
}